#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav main main"
  "footer footer footer"
}

