* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.gridContainer {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 80px 100px 50px repeat(5, 3fr) 50px;
  gap: 10px;
  width: 100%;
  height: 100%;
  background-image: url('./images/bluebackground.jpg');
  background-size: cover;
  background-position: center;
}

.searchHeader {
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  align-content: center;
}

.playlistHeader {
  grid-row: 2;
  grid-column: 3;
  text-align: center;
  align-self: center;
}

.header {
  display: grid;
  align-content: center;
  grid-column: 1 / 4;
  grid-row: 1;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  background-color: rgb(35, 100, 231);
  padding: 10px;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 10;
  background-color: rgb(8, 59, 161);
  position: sticky;
  padding: 10px;
}


.debug {
  top: 0;
  left: 0;
  height: 5rem;
  width: 20rem;
  background-color: darkslategray;
  z-index: 10;
  position: absolute;
}

.centeredMessage {
  display: grid;
  justify-content: center;
  grid-row: 3;
  grid-column: 2;
  align-items: center;
  height: 30vh; /* Adjust height as needed */
  text-align: center;
  background-color: red; /* Optional: Change background color if needed */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.centeredMessage h2 {
  color: #333;
  font-size: 1.5rem;
}