* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows: 80px 100px 50px repeat(5, 3fr) 50px;
  gap: 10px;
  width: 100%;
  height: 100vh;
  background-image: url('./public/images/bluebackground.jpg');
  background-size: cover;
  background-position: center;
}

.gridContainer h1 {
  text-align: center;
  align-content: center;
}

.header {
  display: grid;
  align-content: center;
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  background-color: rgb(35, 100, 231);
  padding: 10px;
}

.footer {
  grid-column: 1 / 3;
  grid-row: 9;
  background-color: rgb(8, 59, 161);
  position: sticky;
  padding: 10px;
}
