.loginContainer {
    display: grid;
    text-align: center;
    align-items: center;
    justify-self: right;
    max-width: 100px;
    grid-column: 3;
    grid-row: 1;
    /* padding: 10px; */
    margin: 5px 20px;
  }
  
  .loginButton {
    background-color: rgb(21, 67, 159);
    color: rgb(245, 233, 233);
    text-decoration: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid rgb(232, 214, 230);
    transition: background-color 0.5s ease;
  }
  
  .logoutButton {
    background-color: black;
    color: white;
    max-width: 100px;
    padding: 10px 20px;
    border: 2px solid rgb(232, 214, 230);
    border-radius: 50px;
    font-size: 16px;
    transition: background-color 0.5s ease;
  }

  .loginButton:hover {
    cursor: pointer;
    background-color: rgb(35, 105, 245);
    transition: background-color 0.5s ease;
  }

  .logoutButton:hover {
    cursor: pointer;
    background-color: rgb(110, 110, 110);
    transition: background-color 0.5s ease;
  }
