.parentContainer {
  display: grid;
  grid-row: 3;
  grid-column: 2;
  text-align: center;
}

.playlistForm {
  
}

.playlistForm button:hover {
  cursor: pointer;
  background-color: rgb(35, 100, 231);
  transition: background-color 0.5s ease;
}

.playlistSearch {
  position: relative;

}

.playlistDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: black;
  border: 1px solid #ccc;
  z-index: 1000;
}

.playlistItem {
  padding: 8px;
  cursor: pointer;
}

.playlistItem:hover,
.selected {
  background-color: #2d00e2;
}
