/* SearchForm.module.css */
.searchForm {
    display: grid;
    grid-column: 1;
    text-align: center;
    align-content: center;
    justify-items: center;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
    width: 250px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    border: 2px solid rgb(232, 214, 230);
    margin: 10px;
    transition: background-color 0.5s ease;
  }
  
  .searchForm button:hover {
    cursor: pointer;
    background-color: rgb(35, 100, 231);
    transition: background-color 0.5s ease;
  }