.resultsContainer {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 500px;
    justify-self: center;
    justify-content: flex-start;
    grid-template-columns: 1fr;
    grid-column: 1 / auto;
    grid-row: 4 / 8;
    gap: 10px;
    overflow: auto;
    padding: 30px;
    height: 100%;
    margin: 10px 20px;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: rgba(5, 5, 5, 0.764);
  }

  .trackCard {
    display: flex;
    background-color: rgb(35, 100, 231);
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    align-items: center;
    margin: 0;
    min-width: 300px;
    justify-content: space-between;
  }

  .albumImage {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 15px;
  }
  
  .trackInfo {
    display: flex;
    flex-direction: column;
  }

  .trackCard h3 {
    margin: 0;
    font-size: 18px;
  }

  .trackCard h5 {
    margin: 0;
    font-size: 14px;
    color: #d0c7c7;
  }

  .addButton {
    background-color: #1db954; /* Spotify green */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
  }
  
  .addButton:hover {
    background-color: #1ed760; /* Slightly lighter green */
  }